name: Deploy to Server

on:
  push:
    branches:
      - "**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Шаг сборки и пуша убран. Вместо этого, ниже при деплое мы будем сразу тянуть образы из Docker Hub.

      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            docker pull faruh213213/registration-service:latest
            docker stop registration-service || true
            docker rm registration-service || true
            docker run -d --name registration-service -p 80:80 faruh213213/registration-service:latest

            docker pull faruh213213/registration-service-db:latest
            docker stop registration-service-db || true
            docker rm registration-service-db || true
            docker run -d --name registration-service-db -p 5432:5432 faruh213213/registration-service-db:latest
